<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Data from Meter | Smart Water Meter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
    <style>
    .row.content {height: 450px}

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
      .row.content {height:auto;} 
      
    .tabdata {
    text-align: center;
    margin: 0 auto;
  }
  .btndata{
    text-align: right;
    margin: auto;
  }
  </style>
  


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Smart Water Meter Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/enter-id">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
    <div class="col-sm-12 text-left"> 
        <div class="tabdata"><h1>Current Information : Meter No.<h2 id="meterTag"><%- id %></h2>  </h1></div>
        <hr>
      <div class="container">
        <h2 class="tabdata">All Synced Data</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="tabdata">ID</th>
              <th class="tabdata">DateTime</th>
              <th class="tabdata">Pulse</th>
            </tr>
          </thead>
          <tbody>
              <% items.forEach(function(item) { %>
                <tr>
                  <td class="tabdata"><%- item.Id %></td>
                  <td class="tabdata"><%- item.DateTime %></td>
                  <td class="tabdata"><%- item.Pulse %></td>
                </tr>
                <% }); %>
          </tbody>
        </table>
      </div>
<footer class="container-fluid text-center">
  <p>Copyright: Smart Water Meter Project, CUET</p>
</footer>
</body>
<script>
    var meterID = document.getElementById("meterTag").innerHTML;
    alert(meterID);
</script>
</html>
