<!DOCTYPE html>
<html lang="en">
<head>
  <title>Instant Data from Meter | Smart Water Meter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <style>
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
    .row.content {height: 450px}

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
      .row.content {height:auto;} 

    .tabdata {
    text-align: center;
    margin: 0 auto;
  }
  .btndata{
    text-align: right;
    margin: auto;
  }
  </style>
  


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Smart Water Meter Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/meter-info">Home</a></li>
        <li><a href="#">About</a></li>
      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
    <div class="col-sm-12 text-left"> 
        <div class="tabdata"><h1>Current Information : Meter No. <%- id %></h1></div>
        <div id="p1" class="tabdata">
            <div class="loader tabdata" id="loads">
            </div>
            <strong>Fetching Data...</strong>
            </div>
        <hr>
<footer class="container-fluid text-center">
  <p>Copyright: Smart Water Meter Project, CUET</p>
</footer>
</body>

</html>
